/**
 *  @module			Download Gallery
 *  @version		see info.php of this module
 *  @authors		Hudge, Woudloper, M. Gallas, R. Smith, C. Sommer, F. Heyne, Aldus, erpe
 *  @copyright		2010-2024 Hudge, Woudloper, M. Gallas, R. Smith, C. Sommer, F. Heyne, Aldus, erpe
 *  @license		GNU General Public License
 *  @license terms	see info.php of this module
 *  @platform		see info.php of this module
 *
 */
 
/*
--------------| elements
*/

button     { cursor: pointer; padding: 2px 7px 2px 5px; min-width: 150px }
button img { margin-right: 4px; margin-bottom: -2px; margin-left: 2px;  border: none; }
i { font-size: 11px;  color:#47637F;}
b { color:#2E3E4E;  margin-top: 30px;}
tt  { color: #c06 }
textarea     { color: #520000; font-family: monospace, Courier; background-color: #f8f8e1; padding: 3px }

h1,h2,h3,h4,h5,h6 {
	color: #2185d0 !important
}
.info {
    padding-left: 0;
    background: transparent;
}

/*
--------------| Table Layout
*/
div.download_gallery   { 
	padding: 10px; 
	border: solid 1px #ccc; 
}
table.download_gallery   { background-repeat: repeat-x; margin-bottom: 5px; border: solid 2px #babfca; border-collapse: collapse; }
.download_gallery thead td, .download_gallery tfoot td  { color: #4c576f; font-weight: bold; background-color: #fff }
table.download_gallery tbody td      { border-bottom: 1px solid #bfc9df }
.download_gallery .hilite td  { background-color: #DBFBBA!important }
.download_gallery thead td, .bakery tfoot td  { font-size: 11px; background-image: url("../images/box_bg.png"); background-repeat: repeat-x; background-attachment: scroll; background-position: 0 -40px; border-top: 1px solid #becadb; border-bottom: 1px solid #becadb }
.download_gallery input   { color: #5c6a86; font-size: 10px; font-weight: bold; background-color: #c5cdd6; background-image: url("../images/box_bg.png"); background-position: 0 -40px; border: solid 1px }

tr.even, tr.odd    { background-color: #a3baca !important }
td.group_empty { font-weight: bold; background-color: #f4f2e9; text-align: center }
tr.nogroup td       { background-color: #edf2f8 }

/*
--------------| Template Layout
*/
.column .view_template  { 
	background-color: green!important; 
	padding:20px;
	width:98%;
}

.dg_input {
	padding: 8px !important;
	border: 1px solid #ccc;
	font-size: 14px;
	font-weight: bold;
	width: 98%;
}

.dg_select {
	padding:8px;
}
/*
--------------| description (how-to)
*/

div.howto_description {
    font-size: 90%;
    background-color: #fafafa;
    text-align: center;
    margin-top: 8px;
    margin-right: 2px;
    padding: 5px;
    width: 38%;
    float: left;
    overflow: hidden;
    border: dashed 1px #390;
}

/*
--------------| warnings & notifications
*/
.warning, tr.warning td, .notification, tr.notification td {
    font-size:11px;
    margin-bottom:2px;
    margin-right:2px;
    margin-top:2px;
    padding:2px;
    background-image:none !important;
    border:1px solid;
}
.warning, tr.warning td {
    background-color:#FFEFED !important;
    color:#990000 !important;

}
.notification, tr.notification td {
    background-color:#EBFAED !important;
    color:#336600 !important;
}

/*
--------------| settings Table
*/

table.settings_table    {
    margin-bottom: 8px;
    padding: 0;
    border: solid 1px #515d76;
}
.settings_table caption	   { color: #fff !important; font-size: 16px; font-weight: bold; line-height: 160%; background-color: #515d76; background-image: url("../images/box_bg.png"); background-repeat: repeat-x; text-align: left; margin-top: 8px; padding-top: 4px; padding-left: 10px; height: 35px; border: 1px #515d76 }
.settings_table tr td, .settings_table tr th        { background-image: url("../images/box_bg.png"); background-repeat: repeat-x; background-attachment: scroll; background-position: 0 -40px; margin: 0; padding: 4px; border-bottom: 1px solid #becadb }
.settings_table tr.row_a td, .settings_table tr.row_a th     { background-color: #e0eef8; background-image: none; background-position: 0 -36px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #999 }
.settings_table tr.row_b td, .settings_table tr.row_b th     { background-color: #f6faff; background-image: none; background-position: 0 -36px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #999 }
.settings_table th {
    color: #515d76;
    font-weight: bold;
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 0 0;
    text-align: right;
    width: 180px !important;
    vertical-align: top;
}
/*table foot*/
.settings_table tfoot td,
.settings_table tfoot th,
.tfoot td
 { background-color: #e0eef8; background-image: none; background-position: 0 -50px; padding: 5px; border-top: 2px solid #fff; border-bottom: 2px solid #fff }
/*Child Tables*/
.settings_table table td,
.settings_table table th
  { background-image: none }

#delete_file2 {
    margin-left: 20px;
	margin-right: 4px;
}
/*
--------------| Edit CSS Button
*/
.mod_download_gallery_edit_css   { padding: 2px; width: 120px !important; float: right }

/*
--------------| Help File
*/

.download_gallery_help {
	padding-top: 30px;
	margin-bottom:30px;
}

.download_gallery_help ul {
	padding-left:20px;
}

.download_gallery_help .setting_name {
	vertical-align: top;
}

.download_gallery_help .row_a a {
	 border-bottom: 1px dashed #000;
}

.download_gallery_help .row_a a:hover {
	 border-bottom: 1px solid #000;
}

div.mce-panel button {
	min-width: 60px !important;
	max-width: 64px !important;
	margin: 0px;
	padding. 0px;
}

.modify_section {
	margin-left	: 10px;
	margin-top: 50px;
}
.modify_section h1 {
	text-transform	: none;
	text-align		: left;	
	color			: white;
}