/**
 *  @module			Download Gallery
 *  @version		see info.php of this module
 *  @authors		Hudge, Woudloper, M. Gallas, R. Smith, C. Sommer, F. Heyne, Aldus, erpe
 *  @copyright		2010-2024 Hudge, Woudloper, M. Gallas, R. Smith, C. Sommer, F. Heyne, Aldus, erpe
 *  @license		GNU General Public License
 *  @license terms	see info.php of this module
 *  @platform		see info.php of this module
 *
 */
 
/*
  CSS definition for: Download Gallery
*/

.download_gallery {
width: 100%;
}

h2.page_title {
background:#f9fafb;
}

.filter-table {
    font-size: 18px;
    font-weight: normal;
}

.filter-table input {
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table.dg_table {
	text-align: left;
}

.dg_table tr td {
    border-top: 0px solid rgba(34,36,38,.1);
}

table.dg_table th td {
	text-align: left;
	padding: 15px;
}

.dg_group_title {
background:#f9fafb;
}


.mod_download_gallery_line_f, .mod_download_gallery_line_rightalign_f {
	border-bottom: 1px solid #DDD;
	font-size: 1.2em;
	padding: 12px 12px 0px 0px;
}

.mod_download_gallery_line_rightalign_f {
	text-align: right;
	white-space: nowrap;
}

.mod_download_gallery_line_f {
	text-align: left;
}

.mod_download_gallery_th_f {
	background-color: #ff9;
	padding: 3px;
	margin: 3px;
}

.mod_download_gallery_line_text_f {
	padding: 0px 0px 0px 0px;
}

.mod_download_gallery_dgheader_f {
	font-size: 12px;
	font-weight: bold;
	background-color: #cf9;
	padding: 4px;
}

/* Buttons >>>>> */
button.mod_download_gallery_btn_f,
button.mod_download_gallery_btn_ra_f {
	border: 1px solid #ca4;
	background: none;
	font-weight: bold;
	cursor: pointer;
	padding: 0 16px 0 0;  
        margin: 0 2px 0 2px;
}

button.mod_download_gallery_btn_f {
	width: auto;
	overflow: visible;
	text-align: left;
}

button.mod_download_gallery_btn_ra_f {
	text-align: right;
}
button.mod_download_gallery__f  { background: url("../images/indiff.gif") no-repeat right center }

button.mod_download_gallery_asc_f  { background: url("../images/desc.gif") no-repeat right center }

button.mod_download_gallery_desc_f  { background: url("../images/asc.gif") no-repeat right center }
/* <<<<<<< Buttons */
