/*
  CSS definition for Website Baker module: Download Gallery 2
*/

.mod_download_gallery_line_f, .mod_download_gallery_line_rightalign_f {
	border-bottom: 1px solid #DDD;
	font-size: 1.2em;
	padding: 12px 12px 0px 0px;
}

.mod_download_gallery_line_rightalign_f {
	text-align: right;
	white-space: nowrap;
}

.mod_download_gallery_line_f {
	text-align: left;
}

.mod_download_gallery_th_f {
	background-color: #ff9;
	padding: 3px;
	margin: 3px;
}

.mod_download_gallery_line_text_f {
	padding: 0px 0px 0px 0px;
}

.mod_download_gallery_dgheader_f {
	font-size: 12px;
	font-weight: bold;
	background-color: #cf9;
	padding: 4px;
}

/* Buttons >>>>> */
button.mod_download_gallery_btn_f,
button.mod_download_gallery_btn_ra_f {
	border: 1px solid #ca4;
	background: none;
	font-weight: bold;
	cursor: pointer;
	padding: 0 16px 0 0;  
        margin: 0 2px 0 2px;
}

button.mod_download_gallery_btn_f {
	width: auto;
	overflow: visible;
	text-align: left;
}

button.mod_download_gallery_btn_ra_f {
	text-align: right;
}
button.mod_download_gallery__f  { background: url("images/indiff.gif") no-repeat right center }

button.mod_download_gallery_asc_f  { background: url("images/desc.gif") no-repeat right center }

button.mod_download_gallery_desc_f  { background: url("images/asc.gif") no-repeat right center }
/* <<<<<<< Buttons */

/* user Upload starts here */
div.download_gallery.upload td.field_title {
	font-family: "Verdana";
	font-size: 1.2em;
}

div.download_gallery.upload td {
	vertical-align: top;
}

div.download_gallery.upload input.field,
div.download_gallery.upload select {
	width: 300px;
}

div.download_gallery.upload textarea {
	width: 300px;
	height: 60px;
}

div.download_gallery.upload input, 
div.download_gallery.upload img {
	width: 150px;
	vertical-align: middle;
}


/* user Upload ends here */